@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.select {
    font-size: 14px;
    position: relative;
    z-index: 2;
    display: inline-block;
}

.headerSelect{
    color: $white !important;
    font-weight: 500;
}

.selectContent {
    width: 100%;

    .selectActive {
        width: 100%;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            margin-left: auto;
        }

        &:hover {
            background-color: rgba($blue, .5);
        }

        @media (max-width: 650px) {
            background-color: unset;
            border-radius: 0;
            padding: 15px 20px;
        }
    }

    @media (max-width: 650px) {
        margin-left: -15px;
        width: calc(100% + 30px);
    }
}

.selectOpened {
    z-index: 3;
}

.selectText {
    margin-right: 20px;
    user-select: none;
}

.selectActive {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: $blue;
    border-radius: 7px;
    box-shadow: $shadow;
    cursor: pointer;
    transition: all .15s;
    width: max-content;
    &:hover {
        background-color: rgba($blue, .5);
    }

    svg {
        width: 10px;
        height: 10px;
        fill: $white;
        transform: rotate(90deg);
        margin-left: 10px;
    }
}

.selectActiveOpened {
    border-radius: 7px 7px 0 0;
    color: $black;
}

.selectActiveFull {
    width: 100%;
    justify-content: space-between;
}

.selectDrop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $blue;
    border-radius: 0 0 7px 7px;
    overflow: auto;
    max-height: 150px;
    z-index: 3;
    @include customScroll;
}

.selectItem {
    padding: 8px 5px;
    transition: all .15s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: $secondary;

    & + & {
        border-top: 1px solid rgba($secondary, .5);
    }
}

.selectItemActive {
    color: black;
    font-weight: 600;
    justify-content: space-between;
    svg {
        width: 15px;
        height: 15px;
        fill: black;
        margin-left: 10px;
    }
}

.selectItemRight {
    justify-content: flex-end;
    padding: 10px;
}

.btnSwith{
    height: 34px !important;
}

.divColor{
    width: 16px;
    height: 16px;
}

.whiteHeader{
    background-color: #fff;
    color: #000 !important;
    box-shadow: none !important;
    text-align: left;
    // padding: 10px 5px !important;
    font-size: 12px !important;
    svg{
        fill: #000;
    }

    &:hover{
        background-color: #fff;
    }

    span{
        font-size: 14px;
        letter-spacing: 0.88px;
        color: #1E2022;
        opacity: 1;
    }
}

.radiusBorder{
    border-radius: 20px !important;
    overflow: hidden !important;
    max-height: max-content !important;
    border: 1px solid #F1F1F5;
    background-color: white !important;
}