@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';


.images{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.imgs{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.imgsHipaa{
    width: 150px;
    height: 100px;
    cursor: pointer;
}

.content{
    padding: 0px 50px;
}

.headerListe{
    font-size: 32px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    cursor: pointer;
    width: max-content;
    &:hover {
       color: rgba($blue, .5);
       svg{
        fill: rgba($blue, .5);;
       }
    }
    svg{
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
        margin-left: 5px;
    }
}

.liste{
    padding: 20px 0;
}

.showListe{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
}

.hideListe{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.liHeader{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 24px;
    padding-top: 20px ;
    display: flex;
    justify-content: space-between;
    &:hover{
        color: black !important;
        font-weight: normal !important;
        cursor: inherit;
    }
}

.stakeholders{
    font-size: 14px;
    letter-spacing: 0px;
    color: #1A7DC2;
    opacity: 1;
    cursor: pointer;
    svg{
        margin-left: 5px;
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        fill: #1A7DC2;
    }
}

.item{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 100%;
    font-size: 18px;
    padding-top: 20px;
    width: max-content;
    height: 38px;
}

ul li:hover {
    cursor: pointer;
    font-weight: bold;
    color: $blue;
}
.active{
    border: 2px solid $blue;
    padding: 10px;
}

.main{
    display: flex;
    height: 100%;
    .container{
        flex-grow: 1;
    }
}
