@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.actions {
    margin-right: -10px;
    position: relative;

    @media (max-width: 768px) {
        position: static;
        margin-bottom: -10px;
        margin-right: -50px;
        margin-left: -15px;
        width: calc(100% + 65px);
    }
}

.actionsBtn {
    width: 40px;
    height: 30px;
    @include centerFlex;
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
        fill: #000;
        transition: all .15s;
    }

    &:hover {
        svg {
            fill: #000;
        }
    }

    @media (max-width: 768px) {
        position: absolute;
        top: 8px;
        right: 5px;

        svg {
            width: 13px;
            height: 13px;
            transform: rotate(90deg);
        }
    }
}

.actionsContent {
    min-width: 210px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: $shadow;
    position: absolute;
    top: 100%;
    right: -5px;
    z-index: 3;
    border: 1px solid #EAEAEA;

    @media (max-width: 768px) {
        min-width: unset;
        width: 100%;
        position: static;
        border-radius: 0 0 7px 7px;
        margin-top: 10px;
    }
}

.actionsContentBtn {
    display: flex;
    justify-content: right;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    transition: all .15s;

    svg {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        flex-shrink: 0;
        fill: #000;
        transition: all .15s;
        transform: rotate(90deg);
    }
}

.actionsContentBtnDelete {
    color: $secondary;

    svg {
        fill: $secondary;
    }

    &:hover {
        color: $redDark;

        svg {
            fill: $redDark;
        }
    }
}

.headerAction{
    display: flex;
    padding-top: 10px;
    cursor: pointer;
    svg{
        fill: $blue;
    }
}
.addIcon{
    height: 10px;
    width: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 8px;
    fill: $blue;
}
.addUser{
    color: $blue;
    font-size: 14px;
    margin: auto;
    margin-right: 0px;
}

.actionUser{
    width: max-content !important;
    min-width: auto !important;
    padding: 4px;
  }