

.actionIcon{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.rdt_Table{
    border-radius: 12px !important;
}
.rdt_TableCol{
    text-align: left;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    background-color: black;
}

.rdt_TableHead{
    text-align: left !important;
    letter-spacing: 0px !important;
    color: #999999 !important;
    opacity: 1 !important;
    font-size: 12px !important;
}

.rdt_TableRow{
    height: 100px;
}