

.tooltipContainer {
    position: relative;
    display: inline-block;
  }
  
  .none {
    display: none;
  }
  
  .show {
    display: inline-block;
  }
  
  .tooltipBody {
    width: 650px;
    background: #fff;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 15px;
    text-align: left;
    color: #000;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    z-index: 9999;
    transition: 1.5s all ease-in;
  }

  .data{
    font-weight: normal !important;
    padding: 15px;
  }