

.container{
    border: 1px solid #ccc;
    border-radius: 18px;
    width: 500px;
    display: flex;
    padding: 5px;
    margin: 24px;
}

.input{
    width: 100%;
    padding-bottom: 2px
}

.svgSearch{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}