

.container{
    border: 1px solid black;
    border-radius: 8px;
    width: 350px;
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.input{
    width: 100%;
}

.svgSearch{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}