@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';


.container{
    margin: 10px 0;
}

.content{
    width: 100%;
    height: 200px;
    overflow: auto;
    // @include customScroll;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.title{
    color: $blue;
    font-size: 18px;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
}

.editor{
    margin: 20px 0px;
    background: #fff;
    border-radius: 12px;
    padding: 50px;
}

.logsViews{
    display: flex;
    justify-content: space-between;
}
.logs{
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.view{
    color: $blue;
    cursor: pointer;
    svg{
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
    }
}

.table{
    padding: 20px 0px;
}