@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logoImage{
    width: 200px;
    height: 50px;
}
.svgIcon{
    width: 50px;
    height: 50px;
}

.CustomStep{
    width: 119px;
    height: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}

.logo{

}

.steps{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.activeStep{
    background-color: $blue;
}
.stepsNmb{
    display: flex;
    justify-content: center;
    padding: 10px;
    letter-spacing: -0.58px;
    color: $blue;
    opacity: 1;
    font-size: 19.22px;
    font-weight: bold;
}

.suivant{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.btnSuivant{
    width: max-content;
    background: $blue 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 32px #00000000;
    border-radius: 35px;
    opacity: 1;

}

.containerQuestion{
    display: flex;
    flex-direction: column;
}

.question{
    display: flex;
    justify-content: center;
    letter-spacing: -2.02px;
    color: #010A38;
    opacity: 1;
    font-size: 40px;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    font-weight: bold;
}

.response{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.input{
    border: 1px solid white;
    width: 700px;
    height: 70px;
    margin-top: 25px;
    text-align: left;
    letter-spacing: -0.63px;
    color: #000A38;
    opacity: 1;
    font-size: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 32px #00000000;
    border-radius: 35px;
    padding: 20px;
    
}