@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';
@import '/src/assets/styles/includes/fonts';

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

body {
    font-family: 'Gotham Book', sans-serif;
    color: $black;
    font-weight: 500;
    line-height: 1.3;
    background-color:$secondary;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button, input, textarea {
    background-color: unset;
    border: none;
    font-family: inherit;
    outline: none;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    padding: 0;
    user-select: none;
}

input[type=file] {
    display: none;
}

.globalLoader {
    width: 100%;
    height: 100vh;
    @include centerFlex;
}

.empty-block {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.dwPlXY:not(:last-of-type){
    border-bottom-style: hidden !important;
}

.beUiVL{
    color: #999 !important;
    padding: 10px 0px !important;
    font-size: 12.5px !important;
}

.bQdYbR:not(:first-of-type){
    color: #999 !important;
}

.dwPlXY>.bQdYbR:first-of-type{
    color: #333 !important;
    font-size: 12px !important;
    opacity: 1 !important;
}

.rdw-link-modal-target-option{
    margin-bottom: 5px !important;
    font-size: smaller;
}

.rbc-month-header{
    background-color: #0077ff12 !important;
    height: 70px !important;
    color: #999 !important;
}

.rbc-header{
    margin-top: auto !important;
    margin-bottom: auto !important;
    border-bottom:0px !important;
}

.rbc-header + .rbc-header {
    border-left: 0px !important;
}