@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';


.container{
    display: flex;
    flex-direction: column;
    width: 250px !important;
    height: 100%;
    padding: 15px;
    background-color: white;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.maxContent{
    width: max-content !important;
}

.select{
    width: 200px !important;
    &>div{
        width: 100% !important;
        svg{
            margin-left: auto;
        }
    }
}

// Side User
.header{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.name{
    margin: auto;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}

.item{
    margin-top: 10px;
    width: 100%;
    border: 1px solid $blue;
    border-radius: 5px;
    background-color: $blue;
    padding: 10px;
    color: $secondary;
    text-align: center;
    font-size: 12px;
}

.actions{
    margin-top: 25px;
    font-weight: bold;
}
.items{
    margin-top: 25px;
    font-weight: bold;
    font-size: medium;
}

.framworks{
    display: flex;
    justify-content: space-between;
}

.dateBtn{
    width: max-content !important;
    padding: 11px 15px !important;
    border-radius: 7px !important;
    background-color: $blue !important;
    float: right !important;
    text-align: left !important;
    font-size: 11px !important;
    letter-spacing: 0px !important;
    opacity: 1 !important;
    svg {
        width: 10px;
        height: 10px;
        fill: $white;
        transform: rotate(90deg);
        margin-left: 10px;
    }
}

.date{
    width: 200px;
}

.user{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.role{
    font-size: small;
    font-weight: normal;
}

.selectFramwork{
    width: 174px !important;
    text-align: left !important;
    font-size: 11px !important;
    letter-spacing: 0px !important;
    opacity: 1 !important;
}

.dateDiv{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    color: $bg;
}

.danger{
    color: $redDark;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 10px;
    margin-top: 5px;
}

.privacy{
    letter-spacing: 0px;
    color: $blue;
    opacity: 1;
    font-size: 10px;
    margin-top: 5px;
}

// Side Risk
.divRisk{
    width: 184px;
    height: 60px;
    // background: #F2AF3E 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    text-align: center;
    margin-top: 10px;
}

.riskText{
    letter-spacing: 1px;
    // color: #FFFFFF;
    opacity: 1;
}

.riskWhiteColor{
    border: 1px solid #999;
}
.riskWhiteText{
    color: white;
}

// Side Calendar


// side Report
.btnReports{
    color: #fff !important;
    background-color: $blue !important;
    width: 200px !important;
    margin-bottom: 15px !important;
}

.reportText{
    color: $blue;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 11px;
}
