@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.container{
    display: flex;
    flex-direction: column;
    width: 250px !important;
    height: 100%;
    padding: 15px;
    background-color: white;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.selectFramwork{
    width: 100% !important;
    &>div{
        width: 100% !important;
        svg{
            margin-left: auto;
        }
    }
}

.divRisk{
    width: 184px;
    height: 60px;
    // background: #F2AF3E 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    text-align: center;
    margin-top: 10px;
}

.riskText{
    letter-spacing: 1px;
    // color: #FFFFFF;
    opacity: 1;
}

.whiteColor{
    border: 1px solid #999;
}
.whiteText{
    color: white;
}